body{
    background-color: gray;
}
.content{
    width: 200px;
    background-color: #000;
    height: 100vh;
}
.content a{
    text-decoration: none;
    color: #fff !important;
}
.content li{
    list-style-type: none;

}
.icons{
    top: 600px;
    left: 50px;
}