/*side-nav*/
body{
   background-color: #000;
}
#side-nav{
    background-color: #f8f6f6;
    width: 50px;
    height: 100vh;
    z-index: 99999;
    position: fixed;
    top: 0;
    left: 250px;
}
.image img{
    height: 50px;
}
.open-nav{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
}
.social-icon{
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translate(-50%);
}

.open-nav-ul li {
    list-style-type: none;
    padding: 15px;
}
.open-nav-ul a{
    text-decoration: none;
    color: #fff ;
}

.open-nav-ul  {
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh;
    position: fixed;
    background-color: #000 !important;
    display: none;
}
.open-nav-icon a {
    color: #fff !important;
}
.open-nav-icon {
    position: fixed;
    bottom: 50px;
    left: 20px;
}
.open-nav-icon .copyright{
    color: #999;
    width: 50px;
}
.container-2{
   
    position: absolute;
    top: 0;
    left: 0;
}


#leftMenu
{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 20px 8px 20px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    color: white;
}
#side-nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    background-color: black;
}

.side-nav-icons{
    background-color: #f8f6f6;
    width: 60px;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 250px;
}
.side-nav-links a{
    color: #fff;
    text-decoration: none;
}
.side-nav-links li{
    list-style-type: none;
    padding: 10px;
}
.side-nav-social{
    bottom: 0px;
    left: 0px;
}
.side-nav-icons img{
    width: 30px;
    position: absolute;
    transform: translate(-50%);
    left: 50%;
    top: 10px;
}
.side-nav-icons i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
}

.side-nav-icons .global{
    position: absolute;
    bottom: 50px;
    left: 50%;
}
.side-nav-icons .share{
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-top: 100px;
}
.side-nav-social i{
    color: #fff;
    
    padding-left: 20px;
}
.side-nav-social{
    color: #212529;
    
}

.side-nav-icons i{
    color:black;

}
/*layer*/
.row img{
    display: flex;
    
    
}
.demo{
    position: relative;
    overflow: hidden;
    
}

.layer-content{
    background-color: rgba(255, 255, 255, .7);
    color: #000;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: all 1s;
}
.demo:hover .layer-content{
    top: 0;
}

/*input*/
.form{
    background-color: transparent;
    border: none;
    border-bottom: solid 1px #fff;
    margin-bottom: 30px;
}
input{
    background-color: transparent !important;
    border: none;
}
.input-special{
    background-color: #f8d7da;
    color: #721c24;
}
.input-special{
    background-color: #f8d7da;
    color: #721c24;
}

#container-color{
    background-color: gray;
    position: fixed;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
}
.colors{
    background-color: #09c;
    padding: 10px;
}
.color-icon{
    background-color: tomato;
    padding: 10px;
    height: 50px;
}
.color-item{
    width: 30px;
    height: 30px;
    background-color: green;
    display: inline-block;
    
}
.bar i{
    cursor: pointer;
}